.atenuado {
  font-size: .8em;
  font-style: italic;
  margin: 1em 0;
}

.positivo {
  color: green;
}
.negativo {
  color: red;
}
.positivo.destaque {
  font-weight: bold;
}

.contrato {
  display: inline-block;
  border-radius: .2em;
  padding: .2em .5em;
  margin-left: .5em;
}

.contrato.branco {
  background-color: aliceblue;
  color: darkslategray;
}
.contrato.azul {
  background-color: lightblue;
  color: darkblue;
}
